# Excluir todos los archivos generados automáticamente dentro de notas_simples/
notas_simples/.dart_tool/
notas_simples/build/
notas_simples/android/.gradle/
notas_simples/android/app/build/
notas_simples/ios/Pods/
notas_simples/windows/flutter/ephemeral/
notas_simples/linux/flutter/ephemeral/
notas_simples/macos/Flutter/ephemeral/

# Permitir todo lo demás
!notas_simples/

